body, html {
  font-family: DMSans-Regular, Helvetica, sans-serif;
  font-size: 15px;
}

.container {
  margin: 0 auto;
  max-width: 1146px;
}

@media screen and (max-width: 1200px) {
  .container {
    margin: 0 20px;
  }
}
